.toast {
  padding: 15px 30px;
  background: #fff;
  border-radius: 30px;
  position: absolute;
  top: -100px;
  left: 50%;
  //transform: translate(-50%, -15px);
  transition: 1s ease;
  z-index: 111;
}

.toast.on {
  padding: 15px 30px;
  background: #fff;
  border-radius: 30px;
  position: fixed;
  top: 0;
  left: 50%;
  //transform: translate(-50%, -15px);
  transition: 1s ease;
  z-index: 111;
  color: crimson;
}

.toast h6 {
  color: #111;
  font-size: 16px;
  text-align: center;
}
